@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
/* header */
header {
    display: flex;
    background-color: #BEF7FE;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

}

.header__imagem {
    width: 60px;
    height: 60px;
}

.header__imagem>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.header__nav input{
    display: none;
}

.header__nav #menu{
    display: flex;
    list-style-type: none;
}
.header__nav a {
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 10px;
    color: #000000;

}

#header__nav__botao {
    width: 55px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    border-color: #93F2FE;
    background-color: #93F2FE;
    padding: 2px 5px;
}
/* ul#menu{
    display: flex;
    list-style-type: none;
} 
div#menuToggle input{
    display: none;
}  */



/*main-content */

.main-content {
    background-color: #EAF7FF;    
    height: auto;
    padding-bottom: 20px;


}

.main__titulo {
    padding-top: 20px;
    text-align: center;    
    margin: 0px auto;
    padding-bottom: 20px;
    font-size: 15px;

}

/* ordenar-container */
.main-content__container-input {
    display: flex;
    max-width: 850px;
    justify-content: space-between;
    margin: 20px auto 20px auto;


}

.main-content-container__input-cars {
    width: 200px;
    height: 15px;
    font-size: 12px;

}

.main-content-container__input-cars>select {
    background-color: transparent;
    border: none;
    appearance: none;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;

}

.main-content__container__input-location {
    width: 200px;
    height: 15px;
    font-size: 12px;
}

.main-content__container__input-location>select {
    background-color: transparent;
    border: none;
    appearance: none;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: underline;

}



/* final odernar-container */

/*inicio do divisor do container*/
.main-content__box {
    display: flex;
    position: relative;
    margin: 0 auto 20px auto;
    background-color: white;
    border-radius: 10px;
    max-width: 850px;
    height: 80px;
    align-items: center;
    justify-content: space-between;



}

.main-content__box__imagem {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 50px;
    height: 50px;
    background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;


}


.main-content__box__nome {
    position: absolute;
    width: 100px;
    height: 15px;
    top: 6%;
    left: 9%;
    font-weight: 700;
    font-size: 12px;

}

.main-content__box__nota {
    position: absolute;
    top: 6%;
    left: 74%;
    width: 127px;
    height: 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;


}


.main-content__box__preco {
    position: absolute;
    text-align: center;
    width: 59px;
    height: 27px;
    border-radius: 0px 10px 0px 0px;
    top: 0%;
    left: 93.2%;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    background-color: #DCFCFE;
    line-height: 15px;



}

.main-content__box__avaliacao {
    position: absolute;
    width: 82px;
    height: 15px;
    top: 74%;
    left: 77%;


}
.main-content__box__avaliacao>a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.main-content__box__botao {
    position: absolute;
    width: 103px;
    height: 25px;
    top: 74%;
    left: 87%;




}

.main-content__box__botao-lavar {
    background-color: #8FF2FF;
    border-radius: 5px;
    padding: 4px;
    border: transparent;
    font-size: 12px;
}


/*final divisor do container*/

/*inicio do rodapé*/
footer {
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BEF7FE;
}

.footer-container {
    display: flex;
    margin: 10px 50px;
    align-items: center;
    justify-content: space-between;



}

.footer-container__left-box__logo {
    width: 60px;
    height: 60px;
}

.footer-container__left-box__logo>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer-container__center-box__menu {
    padding-bottom: 10px;

}

.footer-container__center-box__menu a {
    display: block;
    text-decoration: none;
    color: black;

}

.footer-container__rigth-box__imagem {
    display: flex;
    margin-left: 12em;
    width: 20px;
    height: 20px;
    gap: 5px;


}

.footer-container__rigth-box__imagem>img {
    width: 100%;
    height: auto;
    object-fit: contain;

}

.footer-container__rigth-box__p {
    margin-top: 8px;
}


